
    <!--<div class="row">-->

        <!--<div class="col-sm-6 col-md-4">-->
            <!--<div class="thumbnail">-->
                <!--<img src="https://udemy-images.udemy.com/course/750x422/520264_b1b8_4.jpg" alt="Angular js" class="img-responsive">-->
                <!--<div class="caption">-->
                    <!--<h3>Angular js</h3>-->
                    <!--<p class="desciptions">AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. Read on to find out how.</p>-->

                    <!--<div class="clearfix">-->
                        <!--<div class="price pull-left">$12</div>-->
                        <!--<a href="#" class="btn btn-success pull-right" role="button">Add to shopping card</a>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-sm-6 col-md-4">-->
            <!--<div class="thumbnail">-->
                <!--<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCHqdPjfs5ZuF6DnmYycbDLlZ4j0z8kG44sNBHbvYXyiIBgpcy" alt="Angular js" class="img-responsive">-->
                <!--<div class="caption">-->
                    <!--<h3>Bagwat Geeta</h3>-->
                    <!--<p class="desciptions">AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. Read on to find out how.</p>-->

                    <!--<div class="clearfix">-->
                        <!--<div class="price pull-left">$12</div>-->
                        <!--<a href="#" class="btn btn-success pull-right" role="button">Add to shopping card</a>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-sm-6 col-md-4">-->
            <!--<div class="thumbnail">-->
                <!--<img src="http://www.techjini.com/wp-content/uploads/2017/01/nodejs-logo.png" alt="Angular js" class="img-responsive">-->
                <!--<div class="caption">-->
                    <!--<h3>Node js</h3>-->
                    <!--<p class="desciptions">Node JS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. Read on to find out how.</p>-->

                    <!--<div class="clearfix">-->
                        <!--<div class="price pull-left">$12</div>-->
                        <!--<a href="#" class="btn btn-success pull-right" role="button">Add to shopping card</a>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://udemy-images.udemy.com/course/750x422/520264_b1b8_4.jpg" alt="Angular js" class="img-responsive">
            <div class="caption">
                <h3>Angular js</h3>
                <p class="desciptions">AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. Read on to find out how.</p>

                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Add to shopping card</a>

                </div>
               </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCHqdPjfs5ZuF6DnmYycbDLlZ4j0z8kG44sNBHbvYXyiIBgpcy" alt="Angular js" class="img-responsive">
            <div class="caption">
                <h3>Bagwat Geeta</h3>
                <p class="desciptions">AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. Read on to find out how.</p>

                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Add to shopping card</a>

                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://www.techjini.com/wp-content/uploads/2017/01/nodejs-logo.png" alt="Angular js" class="img-responsive">
            <div class="caption">
                <h3>Node js</h3>
                <p class="desciptions">Node JS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. Read on to find out how.</p>

                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Add to shopping card</a>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://store.storeimages.cdn-apple.com/8750/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone7/gold/iphone7-gold-select-2016?wid=300&hei=300&fmt=png-alpha&qlt=95&.v=1472430060215" alt="Angular js" class="img-responsive">
            <div class="caption">
                <h3>Iphone7</h3>
                <p class="desciptions">Iphone  application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. Read on to find out how.</p>

                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Add to shopping card</a>

                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://www.desiretrees.in/wp-content/uploads/2017/01/Bahubali-2-Posters.jpg" alt="Angular js" class="img-responsive">
            <div class="caption">
                <h3>Bahubhali 1</h3>
                <p class="desciptions">bhahubali framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. Read on to find out how.</p>

                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Add to shopping card</a>

                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://www.desiretrees.in/wp-content/uploads/2017/01/Bahubali-2-Posters.jpg" alt="Angular js" class="img-responsive">
            <div class="caption">
                <h3>Bahubali 2</h3>
                <p class="desciptions">Must watch.buy DVD bahubali2 movies here!</p>
                <div class="clearfix">
                    <div class="price pull-left">$12</div>
                    <a href="#" class="btn btn-success pull-right" role="button">Add to shopping card</a>

                </div>
            </div>
        </div>
    </div>
</div>